<%- include('../partials/header') %>
    <h1>FLIGHTS</h1>
    <table>
        <thead>
            <th>AIRPORT</th>
            <th>AIRLINE</th>
            <th>FLIGHT NO</th>
            <th>DEPARTURE DATE & TIME</th>
            <th>FLIGHT DETAILS</th>
        </thead>
        <tbody>
            <% flights.forEach(function(f){ %>
            <tr>
                <td><%= f.airport %></td>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <% if(f.departs < new Date ()){ %>
                    <td class = "passed"><%=f.departs.toLocaleDateString()%> at <%=f.departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})%></td>
                <% } else { %>
                    <td><%=f.departs.toLocaleDateString()%> at <%=f.departs.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})%></td>
                <% } %>   
                <td>
                    <a href = 'flights/<%= f._id %>'> Click for More Details
                    </a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <a class = 'button' href = "flights/new">Add New Flight</a>
</body>
</html>